.about {
    height: 100vh;
}

.education {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.experience {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.skills {
    height: 100%;
    width: 100%;
    background-color: blue;
}