.home {
  background:  linear-gradient(135deg, #17a8d5, #000000);
  color: white;
  width: 100%;
  height: calc(100vh - 75px);
}

#profile_pic {
  width:250px;
  height:350px;
  border-radius: 20%;
  object-fit:cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid black;

}

.introduction {
  display: flex;
  justify-content: center;
}
.hello {
  font-size: 100px;
}
.intro {
  font-size: 25px;
  max-width: 50%;
}