/* styles.css */

.navbar {
  width: 100%;
  background: #1A1E23;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

/* Underline Animation Styles */
.nav-item {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color:#0096FF;
  transition: width 0.3s ease;
}

.nav-item:hover::before,
.nav-item.active::before {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  .nav-item {
    width: 70px;
  }

  .nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color:#0096FF;
    transition: width 0.3s ease;
  }

  .nav-item:hover::before,
  .nav-item.active::before {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }

  .nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0096FF;
    transition: width 0.3s ease;
  }

  .nav-item:hover::before,
  .nav-item.active::before {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
  .nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0096FF;
    transition: width 0.3s ease;
  }

  .nav-item:hover::before,
  .nav-item.active::before {
    width: 100%;
  }
}
